RewriteEngine On
RewriteBase /rechamber/rechamber-api/api/v1/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /rechamber/rechamber-api/public/index.php [L,QSA]
